In [1]:
# Data manipulation and analysis
import pandas as pd

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Statistical analysis
from scipy.stats import pearsonr

# Time series analysis
from statsmodels.tsa.seasonal import seasonal_decompose

# Machine learning (for forecasting)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Load EV sales data

In [2]:
# Load EV sales data
ev_sales_data = pd.read_csv('Resources/IEA-EV-dataEV_salesHistoricalCars.csv')

# Display the first few rows of the EV sales data to check the structure
("EV Sales Data:")
(ev_sales_data.head())

# Load CO2 emissions data
co2_emissions_data = pd.read_csv('Resources/annual-co2-emissions-per-country.csv')

# Display the first few rows of the CO2 emissions data to check the structure
("\nCO2 Emissions Data:")
(co2_emissions_data.head())

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  1949               14656.0
1  Afghanistan  AFG  1950               84272.0
2  Afghanistan  AFG  1951               91600.0
3  Afghanistan  AFG  1952               91600.0
4  Afghanistan  AFG  1953              106256.0

In [3]:
co2_emissions_data.head()

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  1949               14656.0
1  Afghanistan  AFG  1950               84272.0
2  Afghanistan  AFG  1951               91600.0
3  Afghanistan  AFG  1952               91600.0
4  Afghanistan  AFG  1953              106256.0

In [4]:
ev_sales_data.rename(columns={
    "region": "Region",
    "parameter": "Parameter",
    "mode": "Mode",
    "powertrain": "Powertrain",
    "year": "Year",
    "unit": "Unit",
    "value": "Value"
}, inplace=True)
ev_sales_data.head()

,Region,category,Parameter,Mode,Powertrain,Year,Unit,Value
0,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00046
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.00000

In [5]:
combined_df = pd.merge(ev_sales_data,co2_emissions_data, on='Year', how='inner' )
combined_df.head()

,Region,category,Parameter,Mode,Powertrain,Year,Unit,Value,Entity,Code,Annual CO₂ emissions
0,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0,Afghanistan,AFG,1.183832e+07
1,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0,Africa,NaN,1.251306e+09
2,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0,Africa (GCP),NaN,1.251295e+09
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0,Albania,ALB,5.314676e+06
4,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0,Algeria,DZA,1.198075e+08

In [6]:
us_ev_data = combined_df.loc[(combined_df["Region"]== "USA")]
us_ev_data.head()

,Region,category,Parameter,Mode,Powertrain,Year,Unit,Value,Entity,Code,Annual CO₂ emissions
38440,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Afghanistan,AFG,1.183832e+07
38441,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Africa,NaN,1.251306e+09
38442,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Africa (GCP),NaN,1.251295e+09
38443,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Albania,ALB,5.314676e+06
38444,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Algeria,DZA,1.198075e+08

In [7]:
us_ev_data.head()

,Region,category,Parameter,Mode,Powertrain,Year,Unit,Value,Entity,Code,Annual CO₂ emissions
38440,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Afghanistan,AFG,1.183832e+07
38441,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Africa,NaN,1.251306e+09
38442,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Africa (GCP),NaN,1.251295e+09
38443,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Albania,ALB,5.314676e+06
38444,USA,Historical,EV sales,Cars,BEV,2011,Vehicles,9800.0,Algeria,DZA,1.198075e+08

In [8]:
us_ev_data.columns

Index(['Region', 'category', 'Parameter', 'Mode', 'Powertrain', 'Year', 'Unit',
       'Value', 'Entity', 'Code', 'Annual CO₂ emissions'],
      dtype='object')

In [9]:
# loc[:, ["Region", "Parameter", "Mode", "Powertrain", "Year", "value", "Annual CO₂ emissions"]]
us_ev_df= us_ev_data[["Region", "Parameter", "Mode", "Powertrain", "Year", "Value", "Annual CO₂ emissions"]]
us_ev_df.head()

      Region Parameter  Mode Powertrain  Year   Value  Annual CO₂ emissions
38440    USA  EV sales  Cars        BEV  2011  9800.0          1.183832e+07
38441    USA  EV sales  Cars        BEV  2011  9800.0          1.251306e+09
38442    USA  EV sales  Cars        BEV  2011  9800.0          1.251295e+09
38443    USA  EV sales  Cars        BEV  2011  9800.0          5.314676e+06
38444    USA  EV sales  Cars        BEV  2011  9800.0          1.198075e+08

In [16]:
print(us_ev_df)

       Region Parameter  Mode Powertrain  Year   Value  Annual CO₂ emissions
38440     USA  EV sales  Cars        BEV  2011  9800.0          1.183832e+07
38441     USA  EV sales  Cars        BEV  2011  9800.0          1.251306e+09
38442     USA  EV sales  Cars        BEV  2011  9800.0          1.251295e+09
38443     USA  EV sales  Cars        BEV  2011  9800.0          5.314676e+06
38444     USA  EV sales  Cars        BEV  2011  9800.0          1.198075e+08
...       ...       ...   ...        ...   ...     ...                   ...
628179    USA  EV sales  Cars        BEV  2010  1200.0          2.931200e+04
628180    USA  EV sales  Cars        BEV  2010  1200.0          3.336435e+10
628181    USA  EV sales  Cars        BEV  2010  1200.0          2.315059e+07
628182    USA  EV sales  Cars        BEV  2010  1200.0          3.120300e+06
628183    USA  EV sales  Cars        BEV  2010  1200.0          8.754012e+06

[26288 rows x 7 columns]

In [30]:
ev_year = us_ev_df.groupby("Year")
ev_year.head()

,Region,Parameter,Mode,Powertrain,Year,Value,Annual CO₂ emissions
38440,USA,EV sales,Cars,BEV,2011,9800.00,1.183832e+07
38441,USA,EV sales,Cars,BEV,2011,9800.00,1.251306e+09
38442,USA,EV sales,Cars,BEV,2011,9800.00,1.251295e+09
38443,USA,EV sales,Cars,BEV,2011,9800.00,5.314676e+06
38444,USA,EV sales,Cars,BEV,2011,9800.00,1.198075e+08
87048,USA,EV stock,Cars,PHEV,2012,47000.00,1.003531e+07
87049,USA,EV stock,Cars,PHEV,2012,47000.00,1.259537e+09
87050,USA,EV stock,Cars,PHEV,2012,47000.00,1.259526e+09
87051,USA,EV stock,Cars,PHEV,2012,47000.00,4.850060e+06
87052,USA,EV stock,Cars,PHEV,2012,47000.00,1.356743e+08
139376,USA,EV sales,Cars,BEV,2013,48000.00,9.250510e+06
139377,USA,EV sales,Cars,BEV,2013,48000.00,1.268892e+09
139378,USA,EV sales,Cars,BEV,2013,48000.00,1.268881e+09
139379,USA,EV sales,Cars,BEV,2013,48000.00,5.287466e+06
139380,USA,EV sales,Cars,BEV,2013,48000.00,1.407864e+08
193440,USA,EV stock,Cars,PHEV,2014,150000.00,9.170309e+06
193441,USA,EV stock,Cars,PHEV,2014,150000.00,1.350089e+09
193442,USA,EV stock,Cars,PHEV,2014,150000.00,1.350078e+09
193443,USA,EV stock,Cars,PHEV,2014,150000.00,5.999658e+06
193444,USA,EV stock,Cars,PHEV,2014,150000.00,1.512828e+08
250232,USA,EV stock share,Cars,EV,2015,0.19,9.791093e+06
250233,USA,EV stock share,Cars,EV,2015,0.19,1.323759e+09
250234,USA,EV stock share,Cars,EV,2015,0.19,1.323748e+09
250235,USA,EV stock share,Cars,EV,2015,0.19,4.712137e+06
250236,USA,EV stock share,Cars,EV,2015,0.19,1.600875e+08
307272,USA,EV stock,Cars,PHEV,2016,270000.00,9.067598e+06
307273,USA,EV stock,Cars,PHEV,2016,270000.00,1.363459e+09
307274,USA,EV stock,Cars,PHEV,2016,270000.00,1.363444e+09
307275,USA,EV stock,Cars,PHEV,2016,270000.00,4.631977e+06
307276,USA,EV stock,Cars,PHEV,2016,270000.00,1.587484e+08
364312,USA,EV stock share,Cars,EV,2017,0.33,9.867969e+06
364313,USA,EV stock share,Cars,EV,2017,0.33,1.379490e+09
364314,USA,EV stock share,Cars,EV,2017,0.33,1.379479e+09
364315,USA,EV stock share,Cars,EV,2017,0.33,5.564149e+06
364316,USA,EV stock share,Cars,EV,2017,0.33,1.664114e+08
421352,USA,EV stock,Cars,PHEV,2018,480000.00,1.081805e+07
421353,USA,EV stock,Cars,PHEV,2018,480000.00,1.366411e+09
421354,USA,EV stock,Cars,PHEV,2018,480000.00,1.366400e+09
421355,USA,EV stock,Cars,PHEV,2018,480000.00,4.984045e+06
421356,USA,EV stock,Cars,PHEV,2018,480000.00,1.739116e+08
479384,USA,EV stock share,Cars,EV,2019,0.62,1.108162e+07
479385,USA,EV stock share,Cars,EV,2019,0.62,1.467492e+09
479386,USA,EV stock share,Cars,EV,2019,0.62,1.467477e+09
479387,USA,EV stock share,Cars,EV,2019,0.62,4.947485e+06
479388,USA,EV stock share,Cars,EV,2019,0.62,1.795048e+08
537416,USA,EV stock,Cars,PHEV,2020,640000.00,1.168177e+07
537417,USA,EV stock,Cars,PHEV,2020,640000.00,1.385889e+09
537418,USA,EV stock,Cars,PHEV,2020,640000.00,1.385877e+09
537419,USA,EV stock,Cars,PHEV,2020,640000.00,4.728559e+06
537420,USA,EV stock,Cars,PHEV,2020,640000.00,1.725045e+08
595448,USA,EV stock share,Cars,EV,2021,0.95,1.187421e+07
595449,USA,EV stock share,Cars,EV,2021,0.95,1.450796e+09
595450,USA,EV stock share,Cars,EV,2021,0.95,1.450783e+09
595451,USA,EV stock share,Cars,EV,2021,0.95,4.619109e+06
595452,USA,EV stock share,Cars,EV,2021,0.95,1.762691e+08
626448,USA,Electricity demand,Cars,EV,2010,96.00,8.364804e+06
626449,USA,Electricity demand,Cars,EV,2010,96.00,1.214749e+09
626450,USA,Electricity demand,Cars,EV,2010,96.00,1.214738e+09
626451,USA,Electricity demand,Cars,EV,2010,96.00,4.783865e+06
626452,USA,Electricity demand,Cars,EV,2010,96.00,1.178130e+08