In [1]:
# Data manipulation and analysis
import pandas as pd
import glob
import os
from pathlib import Path
from functools import reduce

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Statistical analysis
from scipy.stats import pearsonr

# Time series analysis
from statsmodels.tsa.seasonal import seasonal_decompose

# Machine learning (for forecasting)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
first_data_to_load = Path("Resources/CO2_total_output_data/CO2_total_output_emission_rate_2018.csv")
second_data_to_load = Path("Resources/CO2_total_output_data/CO2_total_output_emission_rate_2019.csv")
third_data_to_load = Path("Resources/CO2_total_output_data/CO2_total_output_emission_rate_2020.csv")
fourth_data_to_load = Path("Resources/CO2_total_output_data/CO2_total_output_emission_rate_2021.csv")

first_data = pd.read_csv(first_data_to_load)
second_data = pd.read_csv(second_data_to_load)
third_data = pd.read_csv(third_data_to_load)
fourth_data = pd.read_csv(fourth_data_to_load)

# emissions_data_complete = pd.merge(first_data, second_data, third_data, fourth_data, how="left", on=["Region"])
# emissions_data_complete.head()
# path = r'Resources/CO2_total_output_data' # use your path
# all_files = glob.glob(path + "/*.csv")

# li = []

# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     li.append(df)

# frame = pd.concat(li, axis=0, ignore_index=True)

# pd.set_option('display.max_rows', 110)
# frame.head(110)

In [3]:
# compile the list of dataframes you want to merge
emissions_data_frames = [first_data, second_data, third_data, fourth_data]
emissions_data_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Region'],
                                            how='outer'), emissions_data_frames)

# if you want to fill the values that don't exist in the lines of merged dataframe simply fill with required strings as

# df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Region'],
#                                             how='outer'), data_frames).fillna('void')
emissions_data_merged

,Region,CO2 total output emission rate (lb/MWh) by eGRID subregion 2018,CO2 total output emission rate (lb/MWh) by eGRID subregion 2019,CO2 total output emission rate (lb/MWh) by eGRID subregion 2020,CO2 total output emission rate (lb/MWh) by eGRID subregion 2021
0,US,947.182,884.230,818.289,852.300
1,AKGD,1039.635,1114.400,1097.630,1067.680
2,AKMS,525.083,549.312,534.073,485.186
3,AZNM,1022.355,952.321,846.616,819.656
4,CAMX,496.536,453.209,513.455,531.678
5,ERCT,931.672,868.640,818.600,813.552
6,FRCC,931.842,861.028,835.079,832.924
7,HIMS,1110.689,1185.595,1143.230,1134.391
8,HIOA,1669.943,1694.541,1652.950,1633.097
9,MROE,1678.016,1502.559,1526.370,1582.135
10,MROW,1239.848,1098.353,979.536,995.790
11,NEWE,522.312,488.888,528.238,539.367
12,NWPP,639.037,715.241,599.967,634.599
13,NYCW,596.414,553.801,634.612,816.756
14,NYLI,1184.241,1208.975,1203.930,1210.940
15,NYUP,253.112,232.305,233.512,233.081
16,RFCE,715.966,695.034,652.458,672.787
17,RFCM,1312.560,1189.335,1153.060,1214.061
18,RFCW,1166.096,1067.679,984.977,1046.132
19,RMPA,1273.615,1242.611,1144.800,1158.860
20,SPNO,1163.187,1069.971,954.032,991.729
21,SPSO,1166.582,1001.985,931.756,1031.601
22,SRMV,854.645,806.755,740.359,772.737
23,SRMW,1664.150,1584.391,1480.700,1543.034
24,SRSO,1027.928,969.165,860.179,891.907
25,SRTV,1031.537,949.695,834.182,931.586
26,SRVC,743.328,675.417,623.111,639.665
27,PRMS,NaN,1537.308,1602.180,1558.024

In [4]:
first_complete_data_to_load = Path("Resources/egrid_data_combined/UNT18-Table 1.csv")
second_complete_data_to_load = Path("Resources/egrid_data_combined/UNT19-Table 1.csv")
third_complete_data_to_load = Path("Resources/egrid_data_combined/UNT20-Table 1.csv")
fourth_complete_data_to_load = Path("Resources/egrid_data_combined/UNT21-Table 1.csv")

first_complete_data = pd.read_csv(first_complete_data_to_load)
second_complete_data = pd.read_csv(second_complete_data_to_load)
third_complete_data = pd.read_csv(third_complete_data_to_load)
fourth_complete_data = pd.read_csv(fourth_complete_data_to_load)

In [13]:
columnsToKeep = ['Data Year', 'Plant state abbreviation', 'Plant name', 'Unit unadjusted annual CO2 emissions (tons)']

first_cleaned_data = first_complete_data[columnsToKeep]
first_cleaned_data.head()

,Data Year,Plant state abbreviation,Plant name,Unit unadjusted annual CO2 emissions (tons)
0,YEAR,PSTATABB,PNAME,CO2AN
1,2018,AK,7-Mile Ridge Wind Project,NaN
2,2018,AK,Agrium Kenai Nitrogen Operations,NaN
3,2018,AK,Agrium Kenai Nitrogen Operations,NaN
4,2018,AK,Agrium Kenai Nitrogen Operations,NaN

In [15]:
first_cleaned_complete_data = first_cleaned_data.dropna(axis = 0, how = 'all')
first_cleaned_complete_data.head(20)

,Data Year,Plant state abbreviation,Plant name,Unit unadjusted annual CO2 emissions (tons)
0,YEAR,PSTATABB,PNAME,CO2AN
1,2018,AK,7-Mile Ridge Wind Project,NaN
2,2018,AK,Agrium Kenai Nitrogen Operations,NaN
3,2018,AK,Agrium Kenai Nitrogen Operations,NaN
4,2018,AK,Agrium Kenai Nitrogen Operations,NaN
5,2018,AK,Agrium Kenai Nitrogen Operations,NaN
6,2018,AK,Agrium Kenai Nitrogen Operations,NaN
7,2018,AK,Agrium Kenai Nitrogen Operations,NaN
8,2018,AK,Agrium Kenai Nitrogen Operations,NaN
9,2018,AK,Agrium Kenai Nitrogen Operations,NaN
10,2018,AK,Agrium Kenai Nitrogen Operations,NaN
11,2018,AK,Agrium Kenai Nitrogen Operations,NaN
12,2018,AK,Agrium Kenai Nitrogen Operations,NaN
13,2018,AK,Agrium Kenai Nitrogen Operations,NaN
14,2018,AK,Alakanuk,NaN
15,2018,AK,Alakanuk,NaN
16,2018,AK,Alakanuk,NaN
17,2018,AK,Alakanuk,NaN
18,2018,AK,Alakanuk,NaN
19,2018,AK,Allison Creek Hydro,NaN

In [5]:
# emissions_complete_data_frames = [first_complete_data, second_complete_data, third_complete_data, fourth_complete_data]
# emissions_complete_data_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Plant state abbreviation'],
#                                             how='outer'), emissions_complete_data_frames)

# emissions_complete_data_frames